#root{
  margin-top:15px;
  margin: 0;
  padding: 0;
  width: auto;
  /*border-style:solid;
  border-width: 1px;*/
  z-index: -1;
}
#root ul{
  /*border-style:solid;
  border-width: 1px;*/
}
#root > ul {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}
#root >ul::-webkit-scrollbar { width: 0 !important }
#root >ul::{ overflow: -moz-scrollbars-none; }
#root ul a{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:34px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}
#root ul li{
	position:relative;
	margin:0;
  padding: 0;
  width:100px;
}
#root ul li:hover
{
	background:#f6f6f6
}
#root ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
  z-index: 100;
  margin: -35px 10px 0px 100px;
	padding:0px;
}
#root ul ul li
{
	float:none;
	width:200px
}
#root ul ul a
{
	line-height:120%;
	padding:10px 15px
}
#root ul ul ul
{
	top:0;
	left:100%
}
#root ul li:hover >ul{
  display: block;
}
ul{
  list-style:none;
}
#buttonTop{
  text-decoration:none;
  text-align: center;
}
#scrTopBtn, #scrDownBtn{
  text-align: center;
  text-decoration: none;
	font-size:24px;
  margin: 0 auto;
}
